<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-4.css" />
</head>

<body>
  <script src="/javascripts/vendor/jquery.js"></script>
  <script src="/javascripts/vendor/popper.js"></script>
  <script src="/javascripts/vendor/bootstrap.js"></script>

  {{{body}}}
</body>

</html>