<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-4.css" />
  <style>
    .custom-row {
      display: flex;
      flex-direction: row;
    }

    .custom-col {
      display: flex;
      flex-direction: column;
    }

    .custom-group {
      padding: 0.5rem;
      margin: 1rem;
      border: 1px solid blue;
    }

    .custom-content {
      padding: 1rem;
      border: 1px solid red;
    }
  </style>
</head>

<body>
  <script src="/javascripts/vendor/jquery.js"></script>
  <script src="/javascripts/vendor/popper.js"></script>
  <script src="/javascripts/vendor/bootstrap.js"></script>

  {{{body}}}
</body>

</html>