<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proposed solution</title>

    <head th:replace="fragments/header :: common-header" />
    <style>
        #preview-section {
            padding-top: 25px;
        }

        .empty-text {
            height: 100%;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h2>Form Desc</h2>
                <p th:text="${result.description.formName}"></p>
                <h2>Input field</h2>
                <div th:each="input : ${result.description.inputFields}">
                    <p th:text="${input.name}"></p>
                </div>
                <h2>Output field</h2>
                <div th:each="input : ${result.description.outputFields}">
                    <p th:text="${input.name}"></p>
                </div>
                <h2>Control button</h2>
                <div th:each="input : ${result.description.controlButtons}">
                    <p th:text="${input.name}"></p>
                </div>
                <h2>Label</h2>
                <div th:each="label : ${result.solution.getlabel()}">
                    <p th:text="${label.key}"></p>
                    <p th:text="${label.value.label}"></p>
                </div>
                <h1>Design Solution</h1>
                <h2>Group</h2>
                <div th:each="grouping : ${result.solution.group}">
                    <div th:each="group : ${grouping}">
                        <div>Id group</div>
                        <!-- <div th:text="${group.id}"></div> -->
                        <div th:each="gMember : ${group.gMembers}">
                            <p th:text="${gMember.name}"></p>
                        </div>
                    </div>
                </div>
                <h2>Order</h2>
                <div th:each="ordering : ${result.solution.order}">
                    <div th:each="order : ${ordering}">
                        <div>Id order</div>
                        <!-- <div th:text="${order.id}"></div> -->
                        <div th:each="oMember : ${order.oMembers}">
                            <p th:text="${oMember.memberName}"></p>
                        </div>
                    </div>
                </div>
                <h2>Layout</h2>
                <div th:text="${result.solution.vltoString()}"></div>
                <div th:text="${result.solution.hltoString()}"></div>
            </div>
            <div class="col-xs-8">
                <div id="preview-section">
                    <div class="empty-text">No form to see.</div>
                </div>
                <div>
                    <p class="lead">What do you want to do with proposed solution?</p>
                    <button type="button" class="btn btn-success" id="preview-button">Refresh</button>
                    <a class="btn btn-secondary" href="/revise">Revise Solution</a>
                    <a class="btn btn-primary" href="/retain">No revision needed!</a>
                </div>
            </div>
        </div>
    </div>

    <body th:replace="fragments/script :: common-script" />
    <script>
        $(document).ready(() => {
            $("#preview-button").click(() => {
                $("#preview-section").load(`/generate?caseId=0&isRetrievedCase=false`);
            })
        })
    </script>
</body>

</html>