<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Normalized Query</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <head th:replace="fragments/header :: common-header" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/slider.css}">
</head>

<body>
  <div class="alert alert-danger" role="alert" th:unless="${errorFields.size() == 0}">
    <span class="font-weight-bold" th:each="element : ${errorFields}" th:text="${element} + ' '"></span>
    is not found in our field dictionary.
  </div>
  <div class="container my-4">
    <div class="col-xs-12">
      <h1>Normalized Query</h1>
      <p th:text="'Form Name: ' + ${query.getFormName()}"></p>
      <p th:text="'Input Fields: ' + ${query.itoString()}"></p>
      <p th:text="'Output Fields: ' + ${query.otoString()}"></p>
      <p th:text="'Control Buttons: ' + ${query.ctoString()}"></p>
    </div>

    <div class="col-xs-12">
      <h2>Set weight for each form components.</h2>
      <p>
        A form component can be more important than others in a query.
        So, we need to set the weight of all the form components.
        Similarity function is using Jaccard Similarity.
      </p>
    </div>

    <div class="w-100">
      <form class="col-xs-12" action="#" th:action="@{/retrieval}" th:object="${similarityAttributes}" method="post">
        <div class="form-group">
          <label for="formNameWeight">Form Name Weight:</label>
          <span class="font-weight-bold" id="formNameValue"></span>
          <div class="slidecontainer">
            <input required class="slider" type="range" th:field="*{formNameWeight}" min="0" max="1" step="0.01" />
          </div>
        </div>
        <div class="form-group">
          <label for="inputFieldsWeight">Input Fields Weight:</label>
          <span class="font-weight-bold" id="inputFieldsValue"></span>
          <div class="slidecontainer">
            <input required class="slider" type="range" th:field="*{inputFieldsWeight}" min="0" max="1" step="0.01" />
          </div>
        </div>
        <div class="form-group">
          <label for="outputFieldsWeight">Output Fields Weight:</label>
          <span class="font-weight-bold" id="outputFieldsValue"></span>
          <div class="slidecontainer">
            <input required class="slider" type="range" th:field="*{outputFieldsWeight}" min="0" max="1" step="0.01" />
          </div>
        </div>
        <div class="form-group">
          <label for="controlButtonsWeight">Control Buttons Weight:</label>
          <span class="font-weight-bold" id="controlButtonsValue"></span>
          <div class="slidecontainer">
            <input required class="slider" type="range" th:field="*{controlButtonsWeight}" min="0" max="1"
              step="0.01" />
          </div>
        </div>
        <div class="form-group">
          <label for="kNumber">Number of cases retrieved (K)</label>
          <input required class="form-control" type="number" th:field="*{kNumber}" />
          <small id="kNumberHelp" class="form-text text-muted">
            Number of cases to be retrieved.
          </small>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-danger">Reset</button>
          <input required class="btn btn-secondary" action="action" onclick="window.history.go(-1); return false;"
            type="button" value="Return" />
        </div>
      </form>
    </div>
  </div>

  <body th:replace="fragments/script :: common-script" />
  <script src="/js/slider.js"></script>
</body>

</html>