<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <h1>Result</h1>
  <p th:text="'id: ' + ${queryModel.formName}" />
  <p th:text="'content: ' + ${queryModel.inputFieldsText}" />
  <p th:text="'content: ' + ${queryModel.outputFieldsText}" />
  <p th:text="'content: ' + ${queryModel.controlButtonsText}" />
  <a href="/query">Submit another one TODO: otw ke selanjutnya</a>
</body>

</html>