<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="#" th:action="@{/adapt}" th:object="${submitCaseId}" method="post">
        <h1>Choose a case as solution base</h1>
        <div th:each="case : ${cases}">
            <input type="radio" name="caseId" th:value="${case.description.id}" />
            <span th:text="${case.description.id}"></span>
            <p th:text="${case.description}"></p>
            <p th:text="${case.solution}"></p>
        </div>
        <input type="submit" value="Reuse selected case" />
    </form>
</body>

</html>