<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Revise Form</title>
</head>

<body>
    <!-- TODO: show preview for revising case -->
    <form action="#" th:action="@{/revise}" th:object="${revisedModel}" method="post">
        <h2>Form Name</h2>
        <input type="text" name="formName" th:value="${adaptedCase.description.formName}" />

        <h2>Input field</h2>
        <input type="text" name="inputFields" th:value="${adaptedCase.description.itoString()}" />

        <h2>Output field</h2>
        <input type="text" name="outputFields" th:value="${adaptedCase.description.otoString()}" />

        <h2>Control button</h2>
        <input type="text" name="controlButtons" th:value="${adaptedCase.description.ctoString()}" />

        <h2>Label</h2>
        <textarea th:field="*{labels}" th:text="${adaptedCase.solution.ltoString()}"></textarea>

        <h1>Design Solution</h1>
        <h2>Group</h2>
        <textarea th:field="*{groups}" th:text="${adaptedCase.solution.gtoString()}"></textarea>

        <h2>Order</h2>
        <textarea th:field="*{orders}" th:text="${adaptedCase.solution.otoString()}"></textarea>

        <h2>Layout Vertical</h2>
        <input name="vLayouts" type="text" th:value="${adaptedCase.solution.vltoString()}" />

        <h2>Layout Horizontal</h2>
        <input name="hLayouts" type="text" th:value="${adaptedCase.solution.hltoString()}" />

        <div>
            <input type="submit" value="Revise" />
        </div>
    </form>

</body>

</html>